.input-group {
  position: relative;

  .bi-search {
    position: absolute;
    top: 50%;
    left: 1rem;
    translate: 0 -50%;
  }
}

.form-control,
.form-select,
.navbar-toggler {
  &:focus {
    box-shadow: 0 0 .3rem 0.01rem transparentize($primary, .7);
  }
}