$primary: #ec7135;
$secondary: #eee;

$color-contrast-light: #fff;
$color-contrast-dark: #000;

$card-border-color: $secondary;
$card-bg: $color-contrast-light;
$card-cap-bg: $color-contrast-light;

$nav-link-color: $color-contrast-dark;
$navbar-light-hover-color: $color-contrast-dark;

$input-bg: $secondary;

$btn-link-color: $color-contrast-dark;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./components/card.scss";
@import "./components/navigation.scss";
@import "./components/forms.scss";

.btn.btn-outline-secondary {
  --bs-btn-color: #{$color-contrast-dark};
}

.theme-dark {
  $color-contrast-dark: #202020;

  $secondary: $color-contrast-light;
  $dark: $color-contrast-dark;
  $light: $color-contrast-dark;
  
  $theme-colors: (
      "primary": $primary,
      "secondary": $secondary,
      "dark": $dark,
      "light": $light
  );

  @each $color, $value in $theme-colors {
      --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  @each $color, $value in $theme-colors-rgb {
      --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  $body-color: $color-contrast-light;
  $body-bg: $dark;
  
  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  $navbar-light-color: $color-contrast-light;
  $navbar-light-active-color: $primary;
  $navbar-light-hover-color: $primary;
  $nav-link-color: $color-contrast-light;
  $nav-link-hover-color: $primary;
  $navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  $navbar-light-toggler-border-color: $color-contrast-light;

  $input-color: $color-contrast-light;
  $input-focus-color: $color-contrast-light;

  $card-bg: $dark;
  $card-cap-bg: $dark;
  $card-color: $color-contrast-light;

  $form-select-bg: $color-contrast-dark;
  $form-select-color: $color-contrast-light;
  $form-select-indicator-color: $color-contrast-light;
  $form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");

  $input-bg: $color-contrast-dark;
  $input-focus-bg: $color-contrast-dark;

  $btn-link-color: $color-contrast-light;

  .btn.btn-outline-dark,
  .btn.btn-outline-secondary {
    --bs-btn-color: #{$color-contrast-light};
    --bs-btn-active-color: #{$color-contrast-dark};
    --bs-btn-active-bg: #{$color-contrast-light};
    --bs-btn-active-border-color: #{$color-contrast-light};
    --bs-btn-border-color: #{$color-contrast-light};
    --bs-btn-hover-border-color: #{$color-contrast-light};
    --bs-btn-hover-bg: #{$color-contrast-dark};
    --bs-btn-hover-color: #{$color-contrast-light};
  }

  .btn.btn-outline-secondary {
    --bs-btn-hover-bg: #{$color-contrast-light};
    --bs-btn-hover-color: #{$color-contrast-dark};
  }

  .btn-check:checked + .btn {
    --bs-btn-hover-bg: #{$color-contrast-light};
    --bs-btn-hover-color: #{$color-contrast-dark};
  }

  .input-group {
    box-shadow: 0 0 0 1px $color-contrast-light;
  }

  .bi {
    color: $color-contrast-light;
  }
    
  @import "../../node_modules/bootstrap/scss/bootstrap";
}